body {
    text-align: center;
    font-family: Arial;
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-01/1641081477_2-abrakadabra-fun-p-sobachii-fon-2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: black;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.8);
    color: black;
}

button:hover {
    background-color: rgba(200,200,200,0.9);
}

#result, #lifeLevelText, #quote {
    margin-top: 10px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.7);
    padding: 8px;
    border-radius: 6px;
}

img {
    margin-top: 10px;
    max-width: 200px;
    border-radius: 10px;
    height: auto;
}
